<div class="page-header">
    <h1>Book Details</h1>
</div>

<div class="row" ng-if="loaded" >
    <div class="col-md-3 bounceIn animated">
        <div class="thumbnail">
            <img ng-src="{{ bookDetails.poster }}" alt="{{ bookDetails.name }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-9 fadeIn animated">
        <h3>{{ bookDetails.name }} <small>{{ bookDetails.author }}</small></h3>
        <hr>
        <p>
            <strong>Author:</strong><br />{{ bookDetails.author }}<br />
            <strong>Category:</strong><br /><span class="label label-primary">{{ bookDetails.category_id }}</span><br />
            <strong>User:</strong><br />{{ bookDetails.user }}<br />
            <strong>Published:</strong><br />{{ bookDetails.published_date }}
        </p>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="editBook(bookDetails._id)">Edit Book</button>
            <button type="button" class="btn btn-danger" ng-click="removeBook(bookDetails._id)">Remove Book</button>
        </div>
    </div>
</div>

<div ng-if="!loaded">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div ng-if="alerts.length">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
</div>