<div class="page-header">
    <h1>Categories</h1>
</div>

<div ng-repeat="category in categories" ng-if="!loading">
    <h4>{{ category.name }}</h4>

    <div class="row" ng-if="category.books.length">
        <div class="col-md-2 fadeIn animated" ng-repeat="book in category.books">
            <div class="thumbnail card-link">
                <a ui-sref="books.detail({ book_id: book._id })">
                    <img ng-src="{{book.poster}}" alt="{{book.name}}" style="width:100%">
                    <div class="caption">
                        <h5>
                            <span ng-bind-html="book.name | html"></span><br>
                            <small ng-bind-html="book.author | html"></small>
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row" ng-if="!category.books.length">
        <div class="col-md-12">
            No books available for this category.
        </div>
    </div>
</div>